<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="cms" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/cms.log</file>
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss.SSS"} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/cms-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="cms"/>
    </root>
</configuration>